/* general styling */

body {
    margin: 0;
    font-family: 'Lora', serif;
    line-height: 160%;
    font-size: calc(15px + 0.390625vw);
}




/* homepage styling */

.home-info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}

.home-navs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

#math-topics::before {
    content: "Math topics";
    color:grey;
    font-weight: bolder;
}

#physics-topics::before {
    content: "Physics topics";
    color:grey;
    font-weight: bolder;
}









/* custom page styling */

#mainnav-wrapper {
    position:fixed;
    left:-200%;
    border-right: solid 1px;
    border-top: solid 1px;
    border-color:#efefef;
    background-color: white;
    height:100%;
    }
    
@media (max-width: 640px) {
    #mainnav-wrapper {
    width:100%;
    }
}
    
#nav-ico:hover {
    opacity: 0.4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
    
.nav-button {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color:transparent;
    border:0;
    padding:0;
}
    
header {
    border-bottom: solid 1px;
    border-color: #efefef;
    position:sticky;
    top:0;
    background-color: white;
    z-index:1;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.7rem;
}

.header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}





    
nav {
    padding: 11px 30px 0 30px;
}
    
nav ul {
    padding:5px;
}
    
nav li {
    list-style-type:none;
    padding-top:5px
}
    
nav a {
    text-decoration:none;
    padding: 0 5px 0;
    color:black;
    transition-duration: 0.2s;
}
    
nav a:hover {
    padding: 0 5px 0;
    color:grey;
    border-radius:5px;
}
    

.active {
    color:red;
}

h2 {
    margin-top: 150px;
    font-size:larger;
}
    
.main-wrap {
    display:flex;
    margin: 0 5% 0;
}
    
.main-content {
    width: min(1600px,90%);
    line-height: 150%;
    margin: 0 auto;
}
    
    
.sidenav-wrapper {
    position:relative;
}
    
.sidenav-content {
    position:sticky;
    align-self:start;
    top:100px;
}
    
    
@media (max-width : 1740px) {
    .sidenav-wrapper {display:none;}
}
    
    






/* Mathematics styling */

.definition {
    border: solid;
    border-color: gray;
    background-color: white;
    border-width: 1px;
    padding: 15px;
}

.definition::before {
    content: 'DEFINITION \A';
    white-space: pre-wrap;
    color: gray;
    font-family: 'Arial';
}

