header {
    border-bottom: solid brown;
    border-width: 2px;
    margin: 0px;
    text-align: center;
}

.home-descript {
    text-align: center;
}


.general-navs {
    display: grid;
    grid-template-areas: "math phys";
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

@media (orientation : portrait) {
    .general-navs {
      grid-template-areas: "math" "phys";
      margin: 0;
    }
  }

.math {
    grid-column: math;
}

.phys {
    grid-area: phys;
}   