/* general styling */

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 160%;
    font-size: calc(15px + 0.390625vw);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

h1 {
    margin: 1rem;
    line-height: 120%;
}

/* homepage styling */

.home-info {
    margin-left: 20%;
    margin-right: 20%;
}

.home-navs {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-content: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    font-size: larger;
}


/* thematic page styling */

header {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "hamburger-menu header-name nothing";
    border-bottom: solid  #922b21;
    padding: 5px;
    border-width: 2px;
    position: sticky;
    top: 0;
    background:  white;
    z-index: 1;
}


.hamburger-menu {
    grid-area:hamburger-menu;
    display:flex;
}

.header-name {
    grid-area:header-name;
    text-align:center;
    font-weight: bold;
}


    /* burger and button styles */

    .burger-lines {
        margin: 5px;
        margin-top: 20px;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .burger-lines .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: maroon;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute; 
    }


    .bar1 {top: 0;}

    .bar2 {top: 13.5px;}

    .bar3 {bottom: 0;}


    #menu-toggle:checked + label .bar1{
        transform: rotate(45deg);
        transform-origin: 5%;
        width: 41px
    }

    #menu-toggle:checked + label .bar2 {
        transform: translateX(-40px);
        background-color: transparent;
    }

    #menu-toggle:checked + label .bar3 {
        transform-origin: 5%;
        transform: rotate(-45deg);
        width: 41px;
    }

    #menu-toggle {
        opacity: 0;
    }
    
    #menu-toggle:checked ~ .nav-wrap {
        left: 0;
    }

    .menu-btn {
        position: relative;
        cursor: pointer;
        z-index: 1;
    }


.nav-wrap {
    display: block;
    position: fixed;
    top: 0;
    left: -200%;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 80px;
    background: white;
    transition-duration: .5s;
    border-right: solid  #922b21;
    border-width: 2px;
    opacity: 1;
}

@media (width <= 50em) {
    .nav-wrap {
        width:100%;
        font-size: x-large;
    }
}

.nav-elem ul {
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}
.nav-elem li {
    border-left: 1px solid grey;
    padding-left: 10px;
}

.nav-heading {
    padding-top: 10px;
    font-weight: bolder;
    color: gray;
    text-align: left;
}

.nav-wrap .nav-heading {
    padding-bottom: 30px;
}

a {
    color: gray;
    text-decoration: none;
    transition-duration: 0.5s;

}

a:hover {
    color:#0D47A1;
    transition-duration: 0.5s;
}

article {
    margin-left: 10%;
    margin-right: 10%;
}


/* Mathematics styling */

.definition {
    border: solid;
    border-color: gray;
    background-color: white;
    border-width: 1px;
    padding: 15px;
}

.definition::before {
    content: 'DEFINITION \A';
    white-space: pre-wrap;
    color: gray;
    font-family: 'Arial';
}


/* code styling*/

.code {
    border: solid;
    border-color: gray;
    background-color: white;
    border-width: 1px;
    padding: 5px;
}

.code pre {
    overflow: auto;
    width: 70vw;
    line-height: 125%;
    font-size: smaller;
}

td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }

.code .hll { background-color: #ffffcc }
.code { background: #ffffff; }
.code .c { color: #888888 } /* Comment */
.code .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.code .k { color: #008800; font-weight: bold } /* Keyword */
.code .o { color: #333333 } /* Operator */
.code .ch { color: #888888 } /* Comment.Hashbang */
.code .cm { color: #888888 } /* Comment.Multiline */
.code .cp { color: #557799 } /* Comment.Preproc */
.code .cpf { color: #888888 } /* Comment.PreprocFile */
.code .c1 { color: #888888 } /* Comment.Single */
.code .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.code .gd { color: #A00000 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.code .gr { color: #FF0000 } /* Generic.Error */
.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code .gi { color: #00A000 } /* Generic.Inserted */
.code .go { color: #888888 } /* Generic.Output */
.code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code .gt { color: #0044DD } /* Generic.Traceback */
.code .kc { color: #A00000; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.code .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.code .kp { color: #008800; font-weight: bold } /* Keyword.Pseudo */
.code .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.code .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.code .s { background-color: #fff0f0 } /* Literal.String */
.code .na { color: #0000CC } /* Name.Attribute */
.code .nb { color: #007020 } /* Name.Builtin */
.code .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.code .no { color: #003366; font-weight: bold } /* Name.Constant */
.code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.code .ni { color: #880000; font-weight: bold } /* Name.Entity */
.code .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.code .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.code .nl { color: #997700; font-weight: bold } /* Name.Label */
.code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.code .nt { color: #007700 } /* Name.Tag */
.code .nv { color: #996633 } /* Name.Variable */
.code .ow { color: #000000; font-weight: bold } /* Operator.Word */
.code .w { color: #bbbbbb } /* Text.Whitespace */
.code .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.code .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.code .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.code .mi { color: #000000; font-weight: bold } /* Literal.Number.Integer */
.code .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.code .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.code .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.code .sc { color: #0044DD } /* Literal.String.Char */
.code .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.code .sd { color: #DD4422 } /* Literal.String.Doc */
.code .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.code .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.code .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.code .si { background-color: #eeeeee } /* Literal.String.Interpol */
.code .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.code .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.code .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.code .ss { color: #AA6600 } /* Literal.String.Symbol */
.code .bp { color: #007020 } /* Name.Builtin.Pseudo */
.code .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.code .vc { color: #336699 } /* Name.Variable.Class */
.code .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.code .vi { color: #3333BB } /* Name.Variable.Instance */
.code .vm { color: #996633 } /* Name.Variable.Magic */
.code .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long*/
