/* GENERAL */

:root {
    --swamp: indianred;
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: light;
    font-weight: 300;
    src: url('Inter-Light.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: regular;
    font-weight: 400;
    src: url('Inter-Regular.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: medium;
    font-weight: 500;
    src: url('Inter-Medium.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: Questa;
    font-style: regular;
    font-weight: 400;
    src: url('QuestaGrande-Regular.otf') format('opentype');
}

body {
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.45;
}

h1 {
    font-family: "Questa";
    font-weight: 400;
    font-size: 3rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: Questa;
    margin-bottom: 1em;
    
    & ul {
        list-style-type: none;
        padding: 0;
    }

    & li {
        display: inline;
        margin: 4px 10px;
    }

    & a {
        color: black;
        text-decoration: none;
        font-size: 1.4em;
        transition: color 0.5s
    }

    & a:hover {
        color: var(--swamp);
    }
}

/* LANDING, HOME, ABOUT and BLOG pages */

#landing-body {
    background-image: url(../styles/landingpicture.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

#landing-button {
    font-size:x-large;
    width: auto;
    padding: 1em;
    position: absolute;
    top: 65%;
    background-color: rgba(100, 100, 100, 0.25);
    text-align: center;
    border-radius: 1em;

}

#landing-button > a {
    text-decoration: none;
    color: chocolate;
    font-family: "Questa";
    font-weight: 400;
    font-size: 3.5rem;

    transition: color 500ms ease, color 500ms ease;
}

#landing-button > a:hover {
    color: brown;   
}

.content-flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap:10%;
    margin: 0 5% 0 5%;
}

.content-body {
    max-width: 600px;
    text-align: justify;
}

#coproduct-svg {
    width: 500px;
}

#blog-nav {
    z-index: 1;
    background-color: white;
    position: fixed;
    bottom: 17%;
    right: 5%;

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 20px;
    }

    & li {
        margin: 2px 8px;
    }

    & a {
        color: black;
        text-decoration: none;
        font-size: 0.9em;
        transition: color 0.5s;
    }

    & a:hover {
        color: var(--swamp);
    }

    border: 0.1em solid rgb(226, 226, 226);
    border-radius: 1em;

}

#blog-button {
    position: fixed;
    z-index: 1;
    bottom:10%;
    right:5%;
    width: 30pt;
    height: 30pt;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    border: 0;
    padding: 0;
    transition: background-color 500ms ease, background-color 500ms ease;
}

#blog-button:hover {
    background-color: rgba(205, 92, 92, 0.591);
}

.site-nav {
    & ul {

        padding: 0;
        margin: 0 0 0 1em;
    }

    & a {
        color: black;
        text-decoration: none;
        transition: color 0.5s
    }

    & a:hover {
        color: var(--swamp);
    }
}



/* BLOG Pages */

.blogpage {
    margin: 0 30% 5% 30%;
    text-align: justify;
    contain: content;
}

@media (max-width: 640px) {
    .blogpage {
        margin: 5% 5% 0 5%;
    }
}

h2 {
    padding-top: 3em;
}

.list-descript {
    margin: 1em auto 0.5em;
    color: var(--swamp);
}

.left-right-nav {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.left-right-nav div {
  max-width: 100px;
}

.left-right-nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.5s
}

.left-right-nav svg {
  color: black;
  transition: color 0.5s
}


.left-right-nav svg:hover {
  color: var(--swamp);

}

.left-right-nav a:hover {
  color: var(--swamp);

}



/* Math stuff */

.definition {
    border-width: 1px;
    padding: 15px;
    margin: 5px 0px;
}

.definition::before {
    content: 'DEFINITION \A';
    white-space: pre-wrap;
    color:chocolate;
    font-weight: 400;
    padding-bottom: 10px;
}

.theorem {
    border-width: 1px;
    padding: 15px;
    margin: 5px 0px;
}

.theorem::before {
    content: 'THEOREM \A';
    white-space: pre-wrap;
    color: chocolate;
    font-weight: 400;
}

.proof {
    border-width: 1px;
    padding: 15px;
    margin: 5px 0px;
}

.proof::before {
    content: 'PROOF \A';
    white-space: pre-wrap;
    color: chocolate;
    font-weight: 400;
}

ol {
    margin: 0;
    & li {
        padding-left: 5px;
    }
}
/* .popover-content */

.popover {
    position: relative;
    color: teal;
}

.popover > span {
    visibility: hidden;
    width: 200px;
    background-color: rgb(237, 237, 237);
    color: black;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid black; */
    padding: 5px;
    position: absolute;
    bottom: 125%; /* Position above the element */
    left: 50%;
    margin-left: -100px; /* Center the popover, dependent on width */
    opacity: 0;
    transition: opacity 0.3s;
 }

.popover:hover > span {
    visibility: visible;
    opacity: 1;
 }