/* GENERAL STYLING */
@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto_slab_reg.woff2') format('woff2');
}
  
@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/robot_slab_500.woff2') format('woff2');
}

body {
    margin: 0;
    font-family: "Roboto Slab";
    font-weight: 400;
    padding-bottom: 100px;
}


/* MAINPAGE STYLING */
.welcome-flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap:10%;
    margin: 5% 5%;
    font-weight: 400;
}

.welcome-text {
    width: max(500px,40%);
    margin: 3% 0 10%;
}

.welcome-text > h1 {
    font-size: 5rem;
    margin: 0;
}

.welcome-svg {
    width: 300px;
    font-size:0.6rem;
}




/* CUSTOM PAGE STYLING */

/* menu */
header {
    border-bottom: solid 1px;
    border-color: #efefef;
    position:sticky;
    top:0;
    background-color: white;
    z-index:1;
}

section {
    scroll-margin-top: 5em;
    margin-top: 4em;
}

div {
    scroll-margin-top: 5em;
}

pre {
    font-size: large;
    
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.7rem;
}

.header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    margin: 0;
}

#nav-ico:hover {
    opacity: 0.4;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
    
.nav-button {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color:transparent;
    border:0;
    padding:0;
}

#mainnav-wrapper {
    position:fixed;
    left:-200%;
    border-right: solid 1px;
    border-top: solid 1px;
    border-color:#efefef;
    background-color: white;
    padding: 50px;
    height:100%;

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        list-style-type:none;
        padding-top:5px;
        border-left: solid 5px white;
    }

    nav a {
        text-decoration:none;
        color:black;
        transition-duration: 0.2s;
    }
        
    nav a:hover {
        color:grey;
    }

    .divider {
        padding-top: 40px;
        padding-bottom: 10px;
        font-weight: 500;
    }
}

@media (max-width: 640px) {
    #mainnav-wrapper {
    width:100%;
    }
} 

/* main content */
.main-content {
margin: 0 25%
}

@media (max-width : 1700px) {
    .main-content {
        margin: 0 5%;
    }
}

/* Mathematics styling */
.definition {
    border-width: 1px;
    padding: 15px;
    min-width: 500px;
    margin: 5px 0px;
}

.definition::before {
    content: 'DEFINITION \A';
    white-space: pre-wrap;
    color: grey;
    font-weight: 400;
}

.theorem {
    border-width: 1px;
    padding: 15px;
    min-width: 500px;
    margin: 5px 0px;
}

.theorem::before {
    content: 'THEOREM \A';
    white-space: pre-wrap;
    color: grey;
    font-weight: 400;
}

.proof {
    border-width: 1px;
    padding: 15px;
    min-width: 500px;
    margin: 5px 0px;
}

.proof::before {
    content: 'PROOF \A';
    white-space: pre-wrap;
    color: grey;
    font-weight: 400;
}

.scrollable-box {
    overflow-x: scroll;
}


/* code styling */